{% extends 'base.html.twig' %}

{% block body %}


	<div id="responsive-div" class="text-light">
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_home') }}">Home</a>
				<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav me-auto mt-2 mt-lg-0">

						{% if app.user %}
							<li class="nav-item">
								<p style="color:green;font-weight:bold">connecté !</p>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">logout</a>
							</li>

						{% else %}

							<li class="nav-item">

								<p style="color:red;font-weight:bold;">Non-authentifié</p>

							</li>

						{% endif %}
					</ul>

				</div>
			</div>


		</nav>
		{% if not app.user %}
			<div class="connexion">
				<div>

					<a hx-get="{{ path('app_register') }}" hx-swap="outerHTML" class="btn btn-secondary" hx-trigger="click">s'inscrire</a>
					<a hx-get="{{ path('app_login') }}" hx-swap="outerHTML" class="btn btn-secondary" hx-trigger="click">se connecter</a>
				</div>
			</div>
		{% endif %}


		<p style="color:white;font-size:25px;width:50%;margin-top:5rem;margin-left:auto;margin-right:auto;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro harum libero ad odit, explicabo quo officiis animi magni aut assumenda nesciunt iste, sequi doloremque. Maxime corporis doloribus ad voluptatibus aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita modi vero incidunt neque repellat non quas soluta in. Debitis, porro. Veniam quaerat asperiores ratione corrupti, consequatur praesentium distinctio at temporibus.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel eaque, debitis neque nesciunt blanditiis voluptas illum ab rerum aspernatur sapiente delectus commodi ex ea. Minima earum adipisci quo qui.</p>


	{% endblock %}
